<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Css/Styles.css">
    <script src="/Js/Script.js"></script>
    <title>Spartanz</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <video id="backgroundVideo" autoplay muted loop>
        <source src="Images/WebsiteBG.mp4" type="video/mp4"> <!-- Replace with your video path -->
        Your browser does not support the video tag.
    </video>
    <header class="navbar">
        <div class="logo">
            <img src="Images/Cypherix.png" style="height: 15vh">
        </div>

    <div class="hamburger" onclick="toggleMenu()">
        <img src="/Images/thumb.png" alt="">
    </div>
    <nav class="nav-links"> 
        <a href="/">Home</a>
        <a href="/Events">Events</a>
        <a href="/Teams" class="selected">Teams</a>
        <a href="#">Contact Us</a>
    </nav>
    <nav class="nav-links mobile-menu">
        <a href="#">Home</a>
        <a href="/Events">Events</a>
        <a href="/Teams" class="selected">Teams</a>
        <a href="#">Contact Us</a>
    </nav> 
    </header>
</body>
</html>